<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Jinja Template</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class = "headerbar">
        <h1>Header</h1>
        {% block headerbar %}
        <div style="font-size: 1.5rem; font-weight: bold;">Logo</div>
            <nav style="flex-grow: 1; text-align: center;">
                <a href="/home" style="margin: 0 1rem; text-decoration: none;">Home</a>
            </nav>
        </div>
        {% endblock %}
    </header>
    <div class="sidebar-left">
        {% block sidebar_left %}{% endblock %}
    </div>
    <main>
        {% block main %}{% endblock %}
    </main>
    <div class="sidebar-right">
        {% block sidebar_right %}{% endblock %}
    </div>
    <footer class = "footerbar">
        {% block footerbar %}
        <div style="background-color: #f0f0f0; padding: 1rem; border-top: 1px solid #000000; text-align: center;">
            <span style="font-weight: bold;">붉은부리큰제비갈매기꼬리깃최소관심보호연합권익위원회(조장: 김민규 / 조원: 이은서, 김영서, 노승수, 윤재민)</span>
        </div>
        {% endblock %}
    </footer>
</body>
</html>
